@tailwind base;
@tailwind components;
@tailwind utilities;

/* html {
  scroll-behavior: smooth;
  word-break: break-word;
  font-family: sans
} */

/* width */
::-webkit-scrollbar {
	/* width: 50px; */
	height: 10px;
	background: "transparent";
}

/* Track */
::-webkit-scrollbar-track {
	background: rgba(0, 0, 0, 0);
	width: 50%;
}

/* Handle */
::-webkit-scrollbar-thumb {
	border-radius: 5px;
	background-color: gray;
	outline: 1px solid rgb(56, 137, 218);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: #555;
}


.hero-bg {
	background: linear-gradient(to bottom,
			theme("colors.slate.700") 100px,
			transparent 100px,
			transparent 90%,
			theme("colors.slate.700") 90%),
		linear-gradient(to right,
			theme("colors.slate.700") 90px,
			transparent 90px,
			transparent calc(100vw - 80px),
			theme("colors.slate.700") calc(100% - 80px))
}

.window-mask {
	mask-image: linear-gradient(black, black), url("/window.svg");
	mask-composite: exclude;
	mask-repeat: no-repeat;
	mask-size: auto, 300px auto;
	mask-position: center center, center center;
}

/* responsiveness */

@media only screen and (max-width: 640px) {
	.window-mask {
		mask-size: auto, 200px auto;
	}

	.hero-bg {
		background: linear-gradient(to bottom,
				theme("colors.slate.700") 50px,
				transparent 50px,
				transparent 95%,
				theme("colors.slate.700") 95%),
			linear-gradient(to right,
				theme("colors.slate.700") 10px,
				transparent 10px,
				transparent calc(100vw - 10px),
				theme("colors.slate.700") calc(100% - 10px))
	}
}

@media only screen and (max-width: 760px) {
	.hero-bg {
		background: linear-gradient(to bottom,
				theme("colors.slate.700") 50px,
				transparent 50px,
				transparent 100%,
				theme("colors.slate.700") 100%),
			linear-gradient(to right,
				theme("colors.slate.700") 10px,
				transparent 10px,
				transparent calc(100vw - 10px),
				theme("colors.slate.700") calc(100% - 10px))
	}
}